<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.axelmorano.FinoApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fino</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.axelmorano.FinoApp.addExpense</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Agregar gasto</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle.fill</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.axelmorano.FinoApp.scanReceipt</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Escanear ticket</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.text.viewfinder</string>
		</dict>
	</array>
</dict>
</plist>
